# Byte-compiled / optimized / DLL files
cart/__pycache__/
cart/migrations

catalog/__pycache__/
catalog/migrations

ccheckout/__pycache__/
ccheckout/migrations

contact/__pycache__/
contact/migrations

pages/__pycache__/
pages/migrations

promo/__pycache__/
promo/migrations

registration/__pycache__/
registration/pages/migrations

stores/__pycache__/
stores/migrations

tienda/__pycache__/
tienda/migrations
tienda/settings
tienda/.got


mail
media
node_modules
sent_email
static
static_root





