{% extends 'base.html' %}
{% load static %}
{% block title %}Iniciar sesión{% endblock %}
{% block content %}

  <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-2">
      <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100px">
          <h4 class="text-primary font-weight-semi-bold mb-3" style="font-family: sans-serif;"> Administrar datos del perfil </h4>
      </div>
  </div>
  <!-- Page Header End -->

<main role="main">
  <div id="Actualizar estado" class="col-lg-4">
    <h4 class="m-0 bg-primary mb-3 text-center text-light" style="font-family: sans-serif;">Actualizar tipo de moneda</h4>
    <form action="." method="post" >
        {% csrf_token %}
        {{ form.money_type }}
        <h4 class="m-0 bg-primary mb-3 text-center text-light" style="font-family: sans-serif;">Escoger tienda de preferencia</h4>
        {{ form.prefered_store }}
        <input type="submit" class="btn btn-block btn-primary my-2 py-2" name= "submit" value="Actualizar" class="submit" />
    </form>
</div>
</main>
{% endblock %}