{% extends "base.html" %}
{% load catalog_filters %}
{% block content %}

    <!-- Page Header Start -->
    <div class="container-fluid bg-primary mb-2">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 30px">
            <h3 class="text-light font-weight-semi-bold mb-3" style="font-family: sans-serif;">ERROR EN EL PAGO</h3>
<!--             <div class="d-inline-flex">
                <p class="m-0 text-light">Cantidad de productos: {{ cart_item_count }}</p>
            </div> -->
        </div>
    </div>
    <!-- Page Header End -->

    <h3 style="font-family: sans-serif;">Su pago a través de la pasarela Tropipay ha tenido algún error!</h3>
    <h3 style="font-family: sans-serif;">Intente más tarde o contacte con nuestros especialistas informáticos al: +53 5 988 0455</h3>
    {% endblock %}
