{% extends "base.html" %}
{% load catalog_filters %}
{% block content %}

    <!-- Page Header Start -->
    <div class="container-fluid bg-primary mb-2">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 60px">
            <h1 class="text-light font-weight-semi-bold mb-3" style="font-family: sans-serif;">ERROR EN EL PAGO</h1>
<!--             <div class="d-inline-flex">
                <p class="m-0 text-light">Cantidad de productos: {{ cart_item_count }}</p>
            </div> -->
        </div>
    </div>
    <!-- Page Header End -->

    <h1 style="font-family: sans-serif;">Su pago a través de la pasarela Tropipay ha tenido algún error!</h1>
    <h1 style="font-family: sans-serif;">Vuelva al carrito e intente nuevamente</h1>
    {% endblock %}
